fastapi
uvicorn[standard]
pydantic-settings
python-multipart
langchain
langchain-community
langchain-groq
groq
chromadb
sentence-transformers
PyMuPDF
pdfplumber
newspaper3k
beautifulsoup4
requests
sqlalchemy
aiosqlite
python-dotenv
httpx
firebase-admin
